coverage
djangocms_helper
flake8
isort
djangocms-picture
djangocms-audio
djangocms-file
djangocms-video
# both of these exist in setup.py as test dependencies but needed to avoid CI failure.
https://github.com/divio/djangocms-moderation/archive/release/1.0.x.zip
https://github.com/divio/djangocms-versioning/archive/master.zip
