mock
factory-boy
coverage
djangocms_helper
flake8
isort
django-filer<2.0.0
djangocms-picture<3.0.0
djangocms-audio
djangocms-file<3.0.0
djangocms-video
django-classy-tags<2.0.0
django-sekizai<2.0.0
# both of these exist in setup.py as test dependencies but needed to avoid CI failure.
https://github.com/divio/djangocms-moderation/archive/release/1.0.x.zip
https://github.com/divio/djangocms-versioning/archive/master.zip
https://github.com/divio/django-cms/archive/release/4.0.x.zip
