coverage
django-app-helper
django-filer==2.2.3
djangocms-audio
djangocms-video
factory-boy
flake8
isort
mock


# Unreleased django-cms 4.0 compatible packages
https://github.com/django-cms/django-cms/tarball/develop-4#egg=django-cms
https://github.com/django-cms/djangocms-versioning/tarball/master#egg=djangocms-versioning
https://github.com/Aiky30/djangocms-moderation/tarball/master#egg=djangocms-moderation
